<form id="submit-bar">
	<input id="search-input" type="text" class="form-control" placeholder="Search by building" />
	<button id="submit-button" onclick="callShowData()"type="button" value="search" class="btn btn-primary btn-lg">Search</button>
</form>