
body {
	background-color: none;
	background: url('../images/login-background.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1, p {
	font-family: 'Quicksand', sans-serif;
}

.login-content, .create-account {
	color: #f8f8f8;
	padding-top: 10%;
	padding-right: 10%;
	padding-bottom: 15%;
	padding-left: 10%;
}


#login-logo a {
	text-decoration: none;
	color: #ffffff;
	font-weight: lighter;
}

#login-logo a:hover {
	color: #f8f8f8;
}





