
body {
	background-color: none;
	background: url('../images/login-background.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1, .login-content p {
	
	font-family: 'Quicksand', sans-serif;
}

.login-content {
	padding-top: 10%;
	padding-bottom: 15%;
	padding-left: 25%;
	padding-right: 25%;

	color: #f8f8f8;
	background-color: none;
}





